[submodule "external/glm"]
	path = external/glm
	url = https://github.com/oceancx/glm.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/oceancx/assimp.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/oceancx/glfw.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/oceancx/glew-cmake.git
[submodule "external/SOIL"]
	path = external/SOIL
	url = https://github.com/oceancx/SOIL.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/oceancx/imgui
[submodule "external/asio"]
	path = external/asio
	url = https://github.com/oceancx/asio.git
